h1,h2,h3,h4,h5,h6,p {
  padding: 30px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header{
  height:100px;
  width: 100vw;
  
  display: flex;
  padding: 10px,0;
}
.heading{
  width: 50%;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 7vh;
}
.heading-title{
  text-decoration: none; 
  color: #333333;
}
.navbar{
  width: 50%;
  padding: 50px;
}
.nav-lists{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
li{
  list-style: none;
}
.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.exhibit{
  text-decoration: none;
  color: #333333;
}
.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
