.about2{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.about-left{

height: auto;
text-align: center;
position: relative;

}
.about-left-box{
margin-top: 20%;
margin-left: 0;

position: absolute;
}

.about-right{

position: relative;

}
.about-right-box{
text-align: center;
position: absolute;
}

.about-right-title{
  
}
.text{
  font-size: 20px;
  word-wrap: normal;
}
