.about{
  width: 100%;
  height: 100vh;
  display: flex;
}
.about-left{
width: 25%;
height: auto;
text-align: center;
position: relative;

}
.about-left-box{
margin-top: 20%;
margin-left: 0;

position: absolute;
}
.about-right{
width: 100%;
margin-right: 200px;
position: relative;
height: 100%;
background-color: thistle;
}
.about-right-box{
text-align: center;

height: 100vh;
position: absolute;
}
.about-right-title{
  
}
.text{
 
  font-size: 20px;
  word-wrap: normal;
}
