.about2{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.about-left{

height: auto;
text-align: center;
position: relative;

}
.about-left-box{
margin-top: 20%;
margin-left: 0;
height: auto;
position: absolute;
}

.about-right{
  text-align: center;
  height: 100%;

}
.about-right-box{

}

.about-right-title{
  
}
.text{
  font-size: 20px;
  word-wrap: normal;
}
