.about{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.about-left{
width: 25%;
text-align: center;
position: relative;

}
.about-left-box{
margin-top: 20%;
margin-left: 0;

position: absolute;
}
.about-right{
width: 100%;
margin-right: 200px;

}
.about-image{
  width: 100vh;
  height: 300px;
}
.about-right-box{
text-align: center;

}
.about-right-title{

}
.text{
  font-size: 20px;
  word-wrap: normal;
}