// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  width: 100vw;
}
.title{
  text-align: center;
  width: 280px;
  margin: 0px auto;
  border-bottom: 5px solid green;
}
.question-contents{
  padding: 5vh 15vw;
  
}
.list-pict {
  width: 300px;
  height: 300px;
}
.question-lists{
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  align-items: center;
}
.left-list{
  width: 300px;
  height: 300px;}
.right-list{
    width: 300px;
    height: 300px;
  }
.new-info{
    text-align: center;
  }
.messages{
    width: 50vw;
    margin: 0 auto;
  }
.message{
    display: flex;
    font-size: 20px;
    margin: 0 0 16px 70px;
    border-bottom: 1px solid red;
  }
.date{
    padding-right: 40px;
  }
.category{
    width: 100vw;
    height: 600px;
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    border: 1px solid lightgray;
    
  }
  .left-contents{
    width: 50%;
    margin-left: 30px;
  }
  .right-contens{
    width: 50%;
    margin-right: 100px;
    
    width: 50vw;
  }
.topic-title{
  
  }
.colum{
    padding: 10px;
  }
.colum-link{
    
    color: #333333;
  }
  .popularity-index{
    
  }
  .item-img{
    width: 30vh;
    height: 30vh;
  }
  .item-lists {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-name{
    font-size: 3vh;
  }
